@charset "UTF-8";

@font-face {
  font-family: "font-pizzaro";
  src:url("../fonts/font-pizzaro.eot");
  src:url("../fonts/font-pizzaro.eot?#iefix") format("embedded-opentype"),
    url("../fonts/font-pizzaro.woff") format("woff"),
    url("../fonts/font-pizzaro.ttf") format("truetype"),
    url("../fonts/font-pizzaro.svg#font-pizzaro") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "font-pizzaro" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="po-"]:before,
[class*=" po-"]:before {
  font-family: "font-pizzaro" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.po {
    display: inline-block;
    font: normal normal normal 16px/1 font-pizzaro;
    font-size: inherit;
    text-rendering: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.po-burger:before {
  content: "\61";
}
.po-drinks:before {
  content: "\62";
}
.po-fries:before {
  content: "\63";
}
.po-pizza:before {
  content: "\64";
}
.po-salads:before {
  content: "\65";
}
.po-tacos:before {
  content: "\66";
}
.po-wraps:before {
  content: "\67";
}
.po-add-to-cart:before {
  content: "\68";
}
.po-arrow-down:before {
  content: "\69";
}
.po-likes-post:before {
  content: "\6a";
}
.po-load-more-icon:before {
  content: "\6b";
}
.po-arrow-left:before {
  content: "\6c";
}
.po-arrow-left-slider:before {
  content: "\6d";
}
.po-arrow-right:before {
  content: "\6e";
}
.po-map-marker:before {
  content: "\6f";
}
.po-mail-icon:before {
  content: "\70";
}
.po-marker-hand-drawned:before {
  content: "\71";
}
.po-arrow-right-slider:before {
  content: "\72";
}
.po-best-deals-menu:before {
  content: "\73";
}
.po-master-chef:before {
  content: "\74";
}
.po-menu-icon:before {
  content: "\75";
}
.po-best-quality:before {
  content: "\76";
}
.po-on-time:before {
  content: "\77";
}
.po-order-complete:before {
  content: "\78";
}
.po-close-delete:before {
  content: "\79";
}
.po-comments:before {
  content: "\7a";
}
.po-pizza-menu-icon:before {
  content: "\41";
}
.po-quote:before {
  content: "\42";
}
.po-edit:before {
  content: "\43";
}
.po-store-locator-menu:before {
  content: "\44";
}
.po-shopping-bag-full-color:before {
  content: "\45";
}
.po-search:before {
  content: "\46";
}
.po-scooter:before {
  content: "\47";
}
.po-ready-delivery:before {
  content: "\48";
}
.po-veggie-icon:before {
  content: "\49";
}
.soup_class a{
  padding-left: 50px!important;
  background: url(/wp-content/themes/pizzaro/img/soup.svg) no-repeat 0px -80px;
}
.soup_class:hover a{
    background-position: 0px 8px;
}
.meat_class a{
  padding-left: 50px!important;
  background: url(/wp-content/themes/pizzaro/img/meat.svg) no-repeat 0px -75px;

}
.meat_class:hover a{
   background-position: 0px 13px;

}
.sous_class a{
  padding-left: 50px!important;
  background: url(/wp-content/themes/pizzaro/img/sous.svg) no-repeat 0px -77px;

}
.sous_class:hover a{
   background-position: 0px 11px;

}
.desert_class a{
  padding-left: 50px!important;
  background: url(/wp-content/themes/pizzaro/img/desert.svg) no-repeat 0px -77px;

}
.desert_class:hover a{
   background-position: 0px 11px;

}
.garnir_class a{
  padding-left: 50px!important;
  background: url(/wp-content/themes/pizzaro/img/garnir.svg) no-repeat 0px -75px;

}
.garnir_class:hover a{
   background-position: 0px 13px;

}
.site-header{
  padding-top: 20px !important;
}
.tax-product_cat .header-v2{
  background: #861a53!important;
}
@media (max-width: 1200px){
  .handheld-navigation .soup_class a{
    background-size: 16px;
    background-position: 22px 16px;
  }
   .handheld-navigation .sous_class a{
    background-size: 16px;
    background-position: 22px 16px;
  }
    .handheld-navigation .desert_class a{
    background-size: 16px;
    background-position: 22px 16px;
  }
 .handheld-navigation .meat_class a{
    background-size: 18px;
    background-position: 22px 20px;
  }
  .handheld-navigation .garnir_class a{
    background-size: 18px;
    background-position: 22px 18px;
  }
  .shop-archive-header .title{
    font-size: 4.5em;
  }
}
@media (max-width: 767px){
    .shop-archive-header .title{
    font-size: 4em;
  }
  .header-v2+.shop-archive-header .shop-archive-content{
    top:60%;
  }
  .header-v2+.shop-archive-header{
    height: auto!important;
  }
  .shop-archive-header .shop-archive-content{
    width: 100%;
  }
}