.single-product {
    div.product {

        .product-images-wrapper,.summary {@include make-column;}

        .single-product-wrapper {display: inline-block;}

        .product-images-wrapper {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(6);
            margin-bottom: ms(6);
            padding-left: 0;
        }

        .woocommerce-product-gallery {
            position: relative;

            .woocommerce-product-gallery__trigger {
                position: absolute;
                top: ms(-1);
                right: ms(-1);
                display: block;
                height: 2em;
                width: 2em;
                border-radius: 3px;
                z-index: 99;
                text-align: center;
            }

            img {
                margin: 0;
            }

            .flex-viewport {
    			margin-bottom: 2.2em;
    		}

            .flex-control-thumbs {
    			@include clearfix;
    			margin: 0;
    			padding: 0;
    			display: flex;
    			flex-flow: row wrap;

    			li {
    				list-style: none;
    				cursor: pointer;
    				margin:0 10px 10px 0;

    				img {
    					border: 1px solid #eaeaea;
                        opacity: .5;
                        transition: all, ease, .2s;

    					&.flex-active {
    						border-bottom-width: 2px;
    						border-bottom-style: solid;
                            opacity: 1;
    					}
    				}

                    &:hover {
                        img {
                            opacity: 1;
                        }
                    }
    			}
    		}

    		&.woocommerce-product-gallery--columns-2 {
    			.flex-control-thumbs {
    				li {
    					@include span( 2 of 4 );

    					&:nth-child(2n) {
    						margin-right: 0;
    					}
    				}
    			}
    		}

    		&.woocommerce-product-gallery--columns-3 {
    			.flex-control-thumbs {
    				li {
    					@include span( 1.333333333 of 4 );

    					&:nth-child(3n) {
    						margin-right: 0;
    					}
    				}
    			}
    		}

    		&.woocommerce-product-gallery--columns-4 {
    			.flex-control-thumbs {
    				li {
    					//@include span( 1 of 4 );
    					flex: 0 1 calc(25% - 8px);

    					&:nth-child(4n) {
    						margin-right: 0;
    					}
    				}
    			}
    		}

    		&.woocommerce-product-gallery--columns-5 {
    			.flex-control-thumbs {
    				li {
    					//@include span( .8 of 4 );
    					flex: 0 1 calc(20% - 8px);

    					&:nth-child(5n) {
    						margin-right: 0;
    					}
    				}
    			}
    		}
        }

        .thumbnails {
            @include clearfix;
            @include make-row;
            float: left;
            width: 100%;

            a.zoom {
                @include make-column;
                @include make-xs-column(12);
                @include make-sm-column(3);
                @include make-md-column(3);
            }
        }

        .summary {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(6);

            .product_title {
                font-size: 1.750em;
                color: #2d2b2d;
                font-weight: normal;
            }

            .product_title,
            .food-type-icon {
                display: inline-block;
            }

            .food-type-icon {
                vertical-align: top;
                line-height: 2.5;
                font-size: .5em;
                margin-left: 0.5em;
            }

            .woocommerce-product-rating {display: none;}

            div[itemprop="description"],
            .woocommerce-product-details__short-description {
                font-style: italic;
                color: #71706c;
            }
        }

        .product-images-wrapper .onsale {
            position: absolute;
        }

        .woocommerce-tabs {
            clear: both;
        }

        .group-name {display: none;}

        form.cart {

            table.variations {
                td.value {
        			select {
        				@include c-select();
        				border-radius: 2em;
                        padding: 0.286em 1.2em;
                        border: 2px solid #f9f1db;
                        height: 42px;
                        color: #2b2929;
        			}
        		}
			}

            .ywapo_input_container_radio:not(.pz-radio-default) {
                label::before {
                    background-color: #fff;
                }

                &:hover {
                    label::before {
                        background-color: #ffcd00;
                    }
                }

                input:checked + label::before {
                    background-color: #ffcd00;
                    border: 2px solid #ffcd00;
                }
            }

            .yith_wapo_groups_container {
                @include make-row;
                position: relative;
            }

            .form-row-wide {
                clear: none;
            }

            .yith_wapo_group_total {
                padding-left: 15px;
                display: block !important;
                opacity: 1 !important;
            }

            .yith_wapo_group_option_total {
                display: none;
            }

            .yith_wapo_groups_container_wrap {
                @include clearfix();
                margin-bottom: 20px;
            }

            .yith_wapo_groups_container_wrap,
            .yith_wapo_group_total {
                margin-bottom: 20px;
            }

            .qty-btn,
            .quantity {
                display: inline-block;

                > label {
                    display: block;
                    color: #2b2929;
                    font-size: .938em;
                    font-weight: 700;
                    padding-bottom: 0.867em;
                }
            }

            .ywapo_group_container {
                @include make-column;
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(6);

                h3 {
                    color: #2b2929;
                    font-size: 0.938em;
                    font-weight: bold;
                }

                .required {display: none;}

                .ywapo_input_container_checkbox {
                    margin-bottom: 0;
                    .ywapo_option_label {
                        font-weight: normal;
                        color: #2b2929;
                        font-size: 0.875em;
                    }
                }

                .ywapo_input_container_checkbox + .ywapo_input_container_checkbox  {
                    margin-top: 0.250em;
                }
            }

            .ywapo_group_container_text {
                width: 100%;
                padding-right: 0;
            }

            .ywapo_input_container_checkbox {
                position: relative;
                display: table;

                input {
                    opacity: 0;
                    width: 100%;
                    position: absolute;
                    height: 30px;
                    margin: 0;
                    z-index: 1;
                }

                label {
                    padding-left: 1.375em;
                    line-height: 0.8;
                }

                label::before {
                    content: "\f096";
                    font-family: $fa;
                    position: absolute;
                    left: 0;
                    font-size: 1.125em;
                    color: #d2d2d2;
                    font-weight: 100;
                }

                .ywapo_option_description {
                    display: none;
                }

                input:checked + label::before {
                    content: "\f14a";
                    color: #ffcd00;
                    background-color: #000;
                    width: 0.778em;
                    border-radius: 100%;
                }

                .amount {
                    color: #a0a0a0;
                    font-size: 0.875em;

                    &::before {
                        content: "(";
                        padding-left: 2px;
                    }

                    &::after {
                        content: ")";
                    }
                }
            }

            .ywapo_input_container_radio {
                display: inline-block;
                margin: 0 1.2em 1em 0;

                &:nth-child(2) {
                    margin-left: 0;
                }
            }

            .ywapo_group_container_radio{
                padding: 0;
                margin-bottom: 0;
            }
        }
    }
}

.single-product.style-1 {
    div.product {
        div[itemprop=description] {
            margin-bottom: 1.5em;
        }

        .sharedaddy {
            padding-bottom: 1.375em;
            margin-bottom: 0.625em;
            border-bottom: 1px solid #e9e9e9;
        }

        .thumbnails {
            @include clearfix;
            margin: 0;
            float: left;
            width: 100%;

            a.zoom {
                @include make-column;
                @include make-xs-column(4);
                @include make-sm-column(3);
                @include make-md-column(3);
            }
        }

        .single_variation_wrap {
            .qty-btn .quantity {
                width: 170px;
            }
        }

        form.cart {
            .yith_wapo_groups_price_container {
                clear: both;
                margin-bottom: 1.250em;
            }

            .qty-btn {float: left;}

            .button {
                margin-top: 2.4em;
                float: none;
                margin-left: 2em;
            }

            .ywapo_group_container {
                @include make-column;
                @include make-xs-column(12);
                @include make-sm-column(12);
                @include make-md-column(6);
            }

            @include media-breakpoint-up(lg) {
                .yith_wapo_groups_container_wrap {
                    display: flex;
                }

                .ywapo_group_container {
                    flex: 1 0 50%;
                }

                .ywapo_input_container_radio {
                    margin: 0 0.8em 1em 0;
                }

                .ywapo_group_container.ywapo_group_container_radio {
                    padding: 0 0 0 15px;
                }
            }
        }
    }
}

.single-product.style-1,
.single-product.style-3 {
    div.product {
        form.variations_form {

            .qty-btn .quantity {
                width: 170px;
            }

            table.variations {
                margin-bottom: 0;
                position: relative;

                tbody {
                    display: flex;

                    tr {
                        flex: 1;
                        &:first-child {
                            padding-right: 10px;
                        }

                        &:last-child {
                            padding-left: 10px;
                        }
                    }
                }

                tr:last-child {
                    td, th {
                        border: none;
                    }

                    .value {
                        margin-bottom: 1em;
                    }
                }

                td, th {
                    border: none;
                    display: block;
                    padding: 0;
                }

                td.label {
                    padding-bottom: 0.8em;
                    text-align: left;

                    label {
                        color: #2b2929;
                        font-size: 1.167em;
                        font-weight: bold;
                    }
                }

                td.value {
                    margin-bottom: 1.6em;

                    select, input[type="text"] {
                        width: 100%;
                    }
                }

                .reset_variations {
                    position: absolute;
                    top: -10px;
                    right: 0;
                    font-size: 80%;
                    color: $color-body;
                }
            }
        }
    }
}

.single-product.style-3 {
    div.product {
        form.variations_form,form.variations_form table.variations {
            display: flex;
        }

        form.variations_form {
            padding-top: 40px;

            .single_variation_wrap {
                flex: 1px;
            }

            table.variations {
                flex: 1;
                display: inline-block;
            }

            .single_variation_wrap {
                flex: 1;

                .woocommerce-variation-add-to-cart {
                    justify-content: flex-end;
                    display: flex;
                    align-items: flex-end;
                    padding-top: 0;

                    .button {
                        margin-top: 0;
                    }

                    .qty-btn>label {
                        line-height: 1;
                    }
                }
            }
        }
    }
}

.single-product {
    .related,
    .upsells {
        ul.products {
            li.product {
                @include make-column;
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(6);
                @include make-lg-column(3);

                div[itemprop="description"],
                .woocommerce-product-details__short-description {
                    display: none;
                }

                .ywapo_input_container_radio {
                    margin: 0 .2em 1em;
                }

                .ywapo_input_container_radio .ywapo_label_price .amount {
                    font-size: 1.063em;
                }

                .ywapo_input_container_radio .ywapo_label_price {
                    padding-left: 5px;
                }

                .ywapo_group_container_radio h3 {
                    margin: .857em 0 2.429em;
                }

                .product-image-wrapper,
                .product-content-wrapper {
                    border-width: 3px;
                }
            }
        }
    }
}

@media (max-width:468px) {
    .single-product.style-1 div.product {
        form.cart {
            .button {
                float: left;
            }
        }
    }

    .single-product.style-3 div.product {
        .product-form-wrapper {
            form.cart {
                text-align: center;

                .qty-btn,
                .yith_wapo_group_total {
                    text-align: center;
                    padding-right: 0;
                }

                .yith_wapo_groups_container {
                    margin: 0 0 30px;
                }
            }
        }
    }
}

.single-product.style-1 div.product form.cart .ywapo_input_container_radio.pz-radio-default,
.single-product div.product form.cart .ywapo_input_container_radio.pz-radio-default{
    margin-bottom: 2px;
}